/supporting_data/.ipynb_checkpoints/
/.ipynb_checkpoints/
/.env
/.idea/
/laboratories/assets/lca_activities.html
/laboratories/assets/.ipynb_checkpoints/
/laboratories/.ipynb_checkpoints/
/laboratories/assets/models/.ipynb_checkpoints/
/laboratories/assets/figures/.ipynb_checkpoints/
